.menu-bar{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    font-size: 12px;
    padding: 0 2px;
    color: #888;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(205, 133, 63, 0.4);
    background-color: #111;
    max-width: @app-max-width;
    margin: 0 auto;
    z-index: 200;
    user-select: none;

    .logo{
        height: 32px;

        svg{
            > g{
                fill: #888;
            }
        }
    }

    .name{
        color: #AAA; 
        text-align: center;
        flex: 1 0;
        font-size: 28px;
        padding: 0 4px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        user-select: none;
    }
    .menu-button{
        color: peru; 
        font-size: 48px;
        padding: 8px;
        cursor: pointer;
        user-select: none;
    }

    .menu{
        height: calc(100vh ~"-" 40px);
        width: 100%;
        position: absolute;
        z-index: 300;
        top: 40px;
        display: none;
        background-color: rgba(0, 0, 0, 0.9);
        padding-bottom: 80px;
        overflow: hidden;
        animation-duration: 0.2s;

        &.has-current-game{
            .current-game{
                visibility: visible;
            }
        }

        .current-game{
            height: 60px;
            padding: 16px;
            width: 100%;
            background-color: rgba(205, 133, 63, 0.7);
            display: flex;
            justify-content: center;
            align-items: center;
            visibility: hidden;

            .current-info{
                width: calc(100% ~"-" 230px);
                display: inline-block;

                .label{
                    font-size: 15px;
                    letter-spacing: 1px;
                    color: #222;
                }

                .game-name{
                    font-size: 28px;
                    color: #bbb;
                    font-size: 20px;
                    word-break: break-all;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            span{
                font-size: 16px;
                padding: 8px 16px;
                color: #bbb;
                cursor: pointer;

                &:hover{
                    color: #FFF !important;

                    svg{
                        color: #FFF !important;
                    }
                }

                svg{
                    margin: 4px auto;
                    display: block;
                    font-size: 12px;
                    color: #ccc;

                    &.fa-play{
                        animation-iteration-count: infinite;
                    }
                }

                span{
                    padding: 0px;
                }

                &:nth-child(3){
                    font-size: 18px;
                    color: #ccc;

                    svg{
                        font-size: 16px;
                        color: #ddd;
                    }
                }
            }
        }

        .general{
            display: inline-flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            height: calc(100% ~"-" 100px);
            width: 400px;
            overflow: hidden;
            max-height: 400px;
            max-width: auto;

            > div{
                display: inline-block;
                height: 200px;
                width: 200px;
                display: inline-flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                color: peru;
    
                svg{
                    font-size: 50px;
                }
    
                span{
                    font-size: 20px;
                    padding: 8px;
                }
            }
        }

        &.active{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: column;
        }
    }

    .disconnect{
        position: absolute;
        bottom: 26px;
        margin: 0 auto;
        font-size: 50px;
        color: peru;
        cursor: pointer;
    }
}  

@media (max-width: @breakpoint-xs){
    @import "./menu-mobile";
}
