.card{
    height: 150px;
    width: 95px;

    .value{
        font-size: 12px;

        > span{
            padding: 0 2px;
        }

        svg.icon{
            width: 8px;
            height: 12px;
        }
    }

    .symbol{
        font-size: 1.6em;

        svg{
            font-size: 50px;
        }
        
        svg.icon{
            width: 16px;
        }
    }

    @media  (-webkit-min-device-pixel-ratio: 2), 
            (min-resolution: 192dpi) {
        //height: 300px;
       // width: 180px;
    }
}