.card{
    height: 150px;
    width: 90px;

    .value{
        font-size: 12px;
    }

    @media  (-webkit-min-device-pixel-ratio: 2), 
            (min-resolution: 192dpi) {
        //height: 300px;
       // width: 180px;
    }
}