.stats{
    padding-bottom: 4px;

    .pizi-tabs{
        height: 100%;
        overflow: auto;

        .pizi-container{
            padding: 0;
            align-items: center;
            position: relative;


        }
    }

    .users-stats{
        .pizi-list-input{
            margin-top: 1em;
            margin-bottom: 1em;
        }

        .pizi-table{
            height: 100%;
            //max-height: 400px;

            th{
                width: 0;

                &:nth-child(1){
                    width: 100%;
                }
            }

            .head-cell{
                font-size: 0.8em;
            }

            td{
                font-size: 1em;
                text-align: center;
                word-break: normal;

                &:nth-child(1){
                    text-align: left;
                    font-size: 0.8em;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 0;
                }

                &:nth-child(2){
                    font-size: 0.9em;
                }
            }
        }
    }

    .user-screen{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .pizi-list-input{
            margin-top: 1em;
            margin-bottom: 0;
        }

        .pizi-table{
            height: auto !important;

            .head-cell{
                font-size: 0.8em;
            }
        }

        h4{
            padding: 0;
        }
    }

    .pizi-spinner{
        height: 400px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 80px;

        svg{
            font-size: 4em;
        }

        label{
            font-size: 1.8em;
        }
    }
    
    canvas{
        width: 100%;
        max-height: calc(500px ~"-" 8px);
        max-width: calc(500px ~"-" 8px);
        display: block;
        margin: 0 auto;
        padding: 0 8px;
    }

    .stat1{
        display: inline-block;
        width: 100%;
        overflow: hidden;

        &:nth-child(3){
            width: 50%;
        }

        &:nth-child(4){
            width: 50%;
        }
    }

    .stat-line{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }

    @import "stats-sm";
}