.players{

    .pizi-table{
        width: 100%;

        td:nth-child(1){
            width: 100%;
        }

        td:nth-child(2){
            font-size: 0.8rem;
            word-break: keep-all;
            white-space: nowrap;
        }
    }

    .pizi-modal{
        .pizi-container{
            align-self: flex-start;
            margin-bottom: auto;
        }

        .game-name{
            margin-bottom: 4px;
        }

        .join-game{
            margin-bottom: 2em;
            margin-right: 2em;
        }
    }

    @import "players-sm";
}