.players{

    .pizi-table{
        width: 100%;

        td:nth-child(1){
            width: 100%;
        }

        td:nth-child(2){
            font-size: 0.8rem;
            word-break: keep-all;
        }
    }

    @import "players-sm";
}