.gameboard{

    .top{
        height: 34%;
        min-height: 200px;
    }

    .fold{
        height: 37%;
    }

    .top-board{
        padding-bottom: 8px;
    }

    .players{
        height: 150px;
    }

    .actions{
        height: 30px;
        font-size: 16px;

        button{
            height: 30px;
        }
    }

    .quick-played{
        font-size: 1.5em;
    }
}