.gameboard{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: #222;

    &.game-running{
        .icon .fa-check{
            display: none;
        }
    }

    &.my-turn{
        //background-color: #301C14;
    }

    .playerHand{
        height: 35%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        .hand{
            bottom: 0;
        }
    }

    .fold{
        height: 35%;
        overflow: hidden;
        position: relative;
        padding-bottom: 8px;

        .hand{
            position: absolute;
            top: 0;
            left: 0;

            &.previous-play{
           
            }

            &.previous-play.is-picking{
                opacity: 0.7;
                .card.selected{
                    background-color: @color-main;
                }
            }

            &.played{
                pointer-events: none;
                top: 40px;
            }
        }
    }

    .top{
        height: 40%;
        min-height: 270px;
        overflow: hidden;
    }

    .top-board{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 8px;
        padding-bottom: 16px;
    }

    .pick.selected{
        background-color: @color-main;
    }

    .players{
        width: calc(100% ~"-" 122px);
        max-width: 350px;
        height: 200px;
        border: 1px solid #444;
        border-radius: 8px;
        margin: 0 4px;
    }

    .actions{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        border-top: 1px solid;
        border-bottom: 1px solid;
        border-color: #444;
        font-size: 20px;
        letter-spacing: 2px;
        color: #999;
        text-transform: uppercase;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &.need-to-act{
            background-color: indianred;
            border: none;
            color:  #222;
        }

        &.disabled{
            pointer-events: none;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        button{
            border-radius: 0;
            color: #222;
            font-size: 26px;
            text-align: center;
            text-transform: uppercase;
            background-color: transparent;
            border: none;
            border-top: 1px solid darkseagreen;
            border-bottom: 1px solid darkseagreen;
            margin: 0;
            padding: 2px;
            letter-spacing: 0.6;
            flex: 1 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            cursor: pointer;
            height: 100%;
            letter-spacing: 2.5px;
            background-color: darkseagreen;
            height: 40px;

            svg{
                margin-left: 6px;
            }

            &:hover{
                //background-color: #444;
                opacity: 0.9;
            }

            &:focus{
                outline: none;
            }

            &.less-than-nine{
                font-size: 16px;
                letter-spacing: 2px;

                svg{
                    margin-left: 6px;
                    font-size: 20px;
                }
            }

            & + button{
                border-left: 1px solid @color-main;
            }
        }
    }

    .quick-played{
        position: absolute;
        pointer-events: none;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        color: peru;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 3em;
        text-shadow: 2px 2px 2px rgba(0,0,0,0.2);

        animation: zoomInDown;
        animation-duration: 0.8s;

        &.out{
            animation: zoomOutDown;
            animation-duration: 0.8s;
        }

        svg{
            margin: 16px;
        }
    }

    .results{
        position: absolute;
        top: 8px;
        bottom: 8px;
        left: 8px;
        right: 8px;
        background-color: #B25E18;
        border-radius: 16px;
        padding: 8px;
        overflow-y: auto;

        .fa-times{
            position: absolute;
            top: 16px;
            right: 16px;
            cursor: pointer;
        }

        .winners{
            display: flex;
            justify-content: center;
            align-items: center;

            .fa-trophy{
                margin-right: 16px;
            }
        }

        .playerHand{
            font-size: 20px;
            border-radius: 16px;
            border: 1px solid #333;
            padding: 4px;
            display: block;

            &.winner{
                border: 4px solid #333;
            }

            .name{
                margin-right: 16px;
                font-size: 24px;
            }

            .hand {
                margin-top: 8px;

                .card {
                    bottom: initial;
                    top: 0;
                }
            }
        }

        .playerHand + .playerHand{
            margin-top: 16px;
        }
    }
}

@media (max-width: @breakpoint-xs){
    @import "./gameBoard-mobile";
}