.account{

    .content{
        width: 100%;
    }

    .pizi-input{
        input{
            width: 300px;
        }
        

        & + .pizi-input{
            margin-top: 12px;
        }
    }

    .text-input .placeholder, .password-input .placeholder{
        color: #444;
    }
}