.app{
    -webkit-overflow-scrolling: touch;
}

@screen-max-width: 500px;

.screen{
    width: 100%;
    height: 100%;
    padding: 80px calc(50% ~"-" (@screen-max-width / 2)) 40px calc(50% ~"-" (@screen-max-width / 2));
    background-color: @color-main;
    color: #222;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    h1{
        width: 100%;
        padding: 0;
    }

    @media (max-width: @breakpoint-xs){
        padding: 40px 8px 0 8px;

        h1{
            padding: 16px 0;
            font-size: 40px;
        }
    }

    .pizi-table{
        width: 100%;

        td{
            font-size: @font-large;
        }
    }
}